<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.ite20"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATEf" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name=".AllSchedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarksInputing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MySchedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YourMatreial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Theoretical"
            android:screenOrientation="portrait"/>
        <activity android:name=".Practical"
            android:screenOrientation="portrait"/>
        <activity android:name=".Apps"
            android:screenOrientation="portrait"/>
        <activity android:name=".Blue_bits_Team"
            android:screenOrientation="portrait"/>
        <activity android:name=".Links"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>